/*------Основной контейнер--------------------------------------------------------------------------------------------*/
.container__sorting-block {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
}
.sorting-block__sorting-label {
    line-height: 124%;
    color: #363B4D;
    opacity: 60%;
    margin-right: 0.5em;
}
.sorting-block__sorting-type {
    line-height: 124%;
    opacity: 60%;
    color: #363B4D;
    font-weight: 500;
    margin-right: 0.4em;
}
.sorting-block__icon-decrement {
    margin-right: 0.6em;
    width: 1.1em;
    height: 0.75em;
}
.sorting-block__icon-row {
    width: 0.8em;
    height: 0.8em;
}
/*-----Адаптивная версия(под разные устройства)-----------------------------------------------------------------------*/
@media (max-width: 1570px) {
    .container__sorting-block {
        font-size: 14px;
    }
}
@media (max-width: 1120px) {
    .container__sorting-block {
        font-size: 12px;
    }
}
@media (max-width: 900px) {
    .container__sorting-block {
        font-size: 10px;
    }
}
@media (max-width: 700px) {
    .container__sorting-block {
        font-size: 8px;
    }
}
@media (max-width: 600px) {
    .container__sorting-block {
        font-size: 6px;
    }
}
/*-----Адаптивная версия под мобилку----------------------------------------------------------------------------------*/