/*------Контейнер для страницы авторизации----------------------------------------------------------------------------*/
.wrapper-auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.auth-main-block {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    width: 57.5vw;
    height: 100%;
    box-shadow: -3px 0 8px rgba(54, 58, 72, 0.1);
    border-radius: 8px;
}
/*------Контейнер для блока с инпутами--------------------------------------------------------------------------------*/
.auth-main-block__auth-form {
    padding: 4.1em 3.1em 4.1em 3.1em;
    width: 40vw;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}
.auth-form__title {
    font-weight: 600;
    font-size: 1.8em;
    line-height: 125%;
    color: rgba(54, 59, 77, 0.9);
    margin-bottom: 1.7em;
}
.auth-form__select-role {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.my-profile-form__time-zone-select-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;
    margin: 16px auto 0 0;
    border: 0.5px solid rgba(54, 59, 77, 0.3);
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
}
.my-profile-form__time-zone-select-value {
    font-size: 16px;
    line-height: 22px;
    color: rgba(54, 59, 77, 0.9);
    opacity: 0.9;
    margin: auto auto auto 24px;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.my-profile-form__time-zone-select-arrow {
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin: auto 24px auto auto;
}
.my-profile-form__time-zone-options-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #FFFFFF;
    overflow-y: scroll;
    top: 58px;
    left: -1px;
    width: 100%;
    max-height: 200px;
    box-shadow: 0 4px 8px rgba(54, 59, 77, 0.1);
    border: 0.5px solid rgba(54, 59, 77, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 24px 24px;
    cursor: default;
    z-index: 9;
}
.my-profile-form__time-zone-options-container::-webkit-scrollbar {
    width: 4px;
    background: #FFFFFF;
    border-radius: 4px;
}
.my-profile-form__time-zone-options-container::-webkit-scrollbar-thumb {
    background: #CFD4DD;
    border-radius: 4px;
}
.my-profile-form__time-zone-option {
    line-height: 24px;
    color: #363B4D;
    opacity: 0.9;
    margin: 24px auto 0 0;
}
.my-profile-form__time-zone-option:hover {
    cursor: pointer;
    opacity: 0.6;
}
/*------Контейнер для блока с лого и кнопкой зарегистрироваться-------------------------------------------------------*/
.auth-main-block__reg-btn-logotype {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     background: #373C4E;
     padding: 4.1em 1.3em 4.1em 1.3em;
     width: 17.5vw;
     -webkit-border-top-right-radius: 8px;
     -webkit-border-bottom-right-radius: 8px;
}
.reg-btn-logotype__logo {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21.3em;
}
.logo__cryptoveche-logotype {
    width: 11.667vw;
    height: 100%;
}

/*-----Адаптивная версия----------------------------------------------------------------------------------------------*/
@media (max-width: 1570px) {
    .wrapper-auth {
        font-size: 10px;
    }
}
